/*this is for CSS*/
body {
	    background-color: lightblue;
        margin-left: 20px; 		
     }
.heading {
	  color: Green; 
	  text-decoration: underline;   
   } 
   
.list {  
      color: navy;
	  text-decoration: underline; 
	  
  }
  
  p:first-of-type {
     color: blue;
  }

  p:nth-of-type(2) {
     color: red;
  }

  .green-text {
     font-style: italic;
     color: green;
  }